<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles.css">
  <!-- Font API -->
  <link href="https://fonts.googleapis.com/css?family=Teko:400,500,600&display=swap" rel="stylesheet">

  <title>Jeffrey Burgos, Data Analyst</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light" id="navbarthings">
    <a class="navbar-brand" id="navbarbrand" href="index.html">Jeffrey Burgos/Belly Button Biodiversity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" id="navbardropdownfonts">
        <li class="nav-item ">
          <a class="nav-link" href="resume.html">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutme.html">About Me</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" id="navbardropdown">
            <a class="dropdown-item" href="https://jeffreyb92.github.io/billboard-analysis/">Top 100 Billboard Analysis</a>
            <div class="dropdown-divider" id="dropdowndivider"></div>
            <a class="dropdown-item" href="https://jeffreyb92.github.io/lyrics-analysis">Lyrics Analysis & Prediction</a>
            <div class="dropdown-divider" id="dropdowndivider"></div>
            <a class="dropdown-item" href="https://jeffreyb92.github.io/baseball-pitching-analysis">Baseball Pitching Analysis</a>
            <div class="dropdown-divider" id="dropdowndivider"></div>
            <a class="dropdown-item" href="https://jeffreyb92.github.io/musical-twitter-analysis">Musical Twitter Analysis</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Container Start -->
  <div class="custom-container container-fluid">
    <div class="row justify-content-around" id="rowpad">
      <div class="col-md-12 h-100" id="columnpad">
        <p id="title-text"class="text-center title-spacing">Belly Button Biodiversity Dashboard</p>
        <p class="text-center" style="font-size: 2em;">Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
      <br>
    <div class="row justify-content-start" id="rowpad">
        <div class="col-md-2 sidebar-spacing">
            <div class="row justify-content-start" id="rowpad">
            <div class="col text-center">
                <div class="dropdown">
                    <p>Test Subject ID No.:</p>
                    <select name="Belly-Button" id="selID">
                    </select>
                </div>
            </div>  
            </div>
            <div class="col text-center">
                <p>Demographic Info</p>
                <hr>
                <p>
                <span id="demoid"></span>
                <br>
                <span id="demoethnic"></span>
                <br>                    
                <span id="demogender"></span>
                <br>                    
                <span id="demoage"></span>  
                <br>                
                <span id="demoloc"></span>    
                <br>               
                <span id="demobb"></span>   
                <br>                
                <span id="demowfreq"></span>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div id="firstplot"></div>
        </div>
        <div class="col-md-4">
            <div id="accelplot"></div>
        </div>
    </div>
    <br>
    <div class="row justify-content-around" id="rowpad">
        <div class="col-md-12">
            <div id="bubbleplot"></div>
        </div>
    </div>

  </div>
  <!-- Container Ends -->

  <!-- Footer Things -->
  <footer id="footerthings">
    <p>Powered By HTML, CSS, Bootstrap and FontAwesome</p>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>  
</body>
 <script src="../static/js/index.js"></script>
</html>





<!-- <span class="sr-only">(current)</span> -->